<div class="bg-warning">
    {{x}}
</div>
<a class="btn btn-primary" (click)="fnclick()">Click me</a>
 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval = "1000">
          <img src="https://source.unsplash.com/random/600x200" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval = "1000">
        <img src="https://source.unsplash.com/random/599x200" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval = "1000">
        <img src="https://source.unsplash.com/random/598x200" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>